* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  
}

.home,
.singup,
.games,
.profile {

  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}



.games {
  overflow-y: hidden;
  display: center;
  background-image: url('/images/vegas.jpg');
  background-position: center;
  height: auto;
  background-size: 100%;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  font-size: 20px;
  


}

.profile {
 
  background-image: url('/images/img-background.jpg');
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  
}

.singup{

}


@media all  and (max-width: 2500px) {
  .games{
    overflow: hidden;
    background-position:center;
    background-size: cover;
    height: 91vh;
  }
  .profile{
    overflow: hidden;
    height: 91vh;
    background-position:center;
    background-size: cover;
    
  }
  .singup{
    overflow: hidden;
    height: 91vh;
    background-position:center;
    background-size: cover;
  }
}
@media all  and (max-width: 1500px) {
  .games{
    overflow: hidden;
    background-position:center;
    background-size: cover;
  }
  .profile{
    overflow: hidden;
    background-position:center;
    background-size: cover;
    
  }
  .singup{
    overflow: hidden;
    background-position:center;
    background-size: cover;
  }
}
