* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  
}

.home,
.singup,
.games,
.profile {

  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
 
  overflow-y: hidden;
}


.games {
  overflow-y: hidden;
  background-image: url('/images/vegas.jpg');
  height: 88.5vh;
  
  background-size: 100%;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  font-size: 20px;
  
  overflow-y: hidden;

}

.profile {
  overflow-y: hidden;
  background-image: url('/images/img-background.jpg');
  background-position: cover;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  overflow-y: hidden;
}

.singup{

}


