.bannerinfo{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3%;
  height: 40%;
  width: 100%;
  overflow-y: hidden;
  background-image: url('/images/salacasino.jpg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  }
  .info-header {
    font-family: georgia;
    margin-bottom: 15px;
    font-size: 26px;
    font-weight: 800;
  }
  
  .info-body {
    display: flex;
    flex-direction: row;
    gap:50px;
    align-items: center;
    max-width: 1120px;
    margin: 0 auto;
  }