.profile_contanier{
    position: fixed;  
    height: 35rem;
    border: 1px solid black;
    width: 35rem;
    color: rgb(31, 30, 30);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(214, 209, 203, 0.973);
    border-radius: 5%;
    overflow-y: hidden;
    

    
}
.div_name_nationality{
    display: flex;
    width: auto;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    
    
}

.profile_contanier_imatge_src{

    border-radius: 1rem;
    height: auto;
    box-shadow: 0 0 15px 10px rgba(28, 30, 31, 0.5);

}
.user_contanier_locale{
    padding: 20px;
    text-transform: uppercase;
}

.user_contanier_email{
    font-weight: lighter;
    font-size: 25px;
    margin-bottom: 2rem;
}
.user_contanier_wallet{
    
    font-weight: lighter;
    font-size: 16px;
    margin-bottom: 2rem;
}

.user_contanier_tokens{
    font-weight: lighter;
    font-size: 25px;
    margin-bottom: 2rem;
    display: flex;
    gap:5px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.profile_contanier_imatge_metamask{
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
}
.profile_contanier_buttons{
    padding: 0.8rem;
    display: flex;
    width: auto;
    gap:20px;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.dialog-contenidor{
    display: flex  !important;
    align-items: center !important;
    justify-content: center !important;
}


.Dialog_textField_container{
    margin: 5px  !important;
    padding-top: 10px !important;
    display: flex  !important;
    align-items: center !important;
    justify-content: center !important;
}