

.singup{
   
    overflow-y: hidden;
    
    background-image: url('/images/back-singup.jpg');
    background-position: cover;
    background-size: 100%;
    background-repeat: no-repeat;

    font-size: 20px;
   
    
}
.signup-box {
    overflow-y: hidden;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    margin: auto;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: larger;
    height: 20vh;
  }
.bttn_login{
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}